@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: red;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    bottom: .1rem solid rgba(0,0,0,.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    cursor: default;
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 43vw;
    margin-left: 50px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3.5rem 1.5rem 3.5rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* About Section */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 30vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem 0;
}

/* Blogs Section */

.blogs h2 {
    margin-bottom: 5rem;
}

.blogs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.blogs-container .blogs-box {
    width: 330px;
    background: var(--second-bg-color);
    padding: 0 0 4rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    border-radius: 2rem;
    transition: .5s ease;
    margin-bottom: 10rem;
}

.blogs-container .blogs-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.blogs-box img {
    width: 100%;
    height: auto;
    border-radius: 2rem 2rem 0 0;
}

.blogs-box h3 {
    font-size: 1.5rem;
    color: #fff;
}

.blogs-box p {
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
}

/* Project Section Design */

.project {
    background: var(--second-bg-color);
}

.project h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* Achievement Section */

.achievement h2 {
    margin-bottom: 4rem;
}

.slider-wrapper {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    margin-bottom: 8rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    animation: slide 12s ease infinite;
    
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Team Section */

.team {
    background: var(--second-bg-color);
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    justify-content: center;
    margin-bottom: 8rem;
}

.team-mem {
    margin: 8px;
}

.team-mem img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 7rem;
    margin-bottom: 1.5rem;
}

.team-mem h4 {
    font-size: 2.6rem;
    text-align: center;
    justify-content: center;
}

.team-mem p {
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
}

/* Footer Design */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #fff;
}

/* Particles JS */

#particles-js {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    position: absolute;
}


/* BREAKPOINTS */

@media only screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .blogs {
        padding: 7rem;
    }

    .project {
        padding: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media only screen and (max-width: 768px) {

   #menu-icon {
        display: block;
   }

   .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
   }

   .navbar.active {
        display: block;
   }

   .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
   }

   .home {
        flex-direction: column;
   }

   .home-content h3 {
        font-size: 2.6rem;
   }

   .home-content h1 {
        font-size: 5rem;
   }

   .home-img img {
        width: 83vw; 
        margin-top: 4rem;
   }

   .about {
        flex-direction: column-reverse;
   }

   .about img {
    width: 83vw; 
    margin-top: 4rem;
    }

    .blogs h2 {
        margin-bottom: 3rem;
    }

    .project h2 {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .members {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 617px) {

    .project-container {
        grid-template-columns: 1fr;
    }

    .members {
        grid-template-columns: 1fr;
    }

    .team h2 {
        margin-bottom: 3rem;
    } 

    .members img {
        margin: 0 150px;
    }

    .achievement {
        min-height: auto;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 365px) {
    .home-img img {
        width: 103vw;
    }

    .about img {
        width: 103vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}